.formControl.error input,
.formControl.error textarea {
  border:  2px red solid;
} 

.formControl.error span {
  color: red;
} 

.formSumaryError {
  padding: 5px;
  border: 1px red solid;
  color: violet;
}
